.hero--image__mobile {

    @media (min-width: $breakpoint-desktop) {
        display: none;
    }
}

.hero--image__desktop {
    display: none;
    @media (min-width: $breakpoint-desktop) {
        display: block;
        justify-self: flex-end;
    }
    
        
    }


.hero--presentation {
    margin-top: 5rem;
    margin-bottom: 10rem;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: .2em;


    h1 {
        text-align: center;
    }

    p { 
        margin-top: 2em;
        text-align: center;
        color: $medium-gray;
        font-size: 18px;
    }

    button {
        margin-top: 2.5rem;
        background-color: $almost-black;
        border: none;
        font-weight: 700;
        padding: 1em 1.8em;
        color: white;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
            background-color: #fff;
            border: 1px solid black;
            color: #000;
        }
    }
    

    .hero--sponsor {
        display: flex;
        justify-content: center;
        margin: 2em;

        li {
            margin: 0 .3em;
            img {
                width: 78px;
                height: 1em;
            }
        }


        @media (min-width: $breakpoint-desktop) {
            margin-top: auto;
            display: flex;
            justify-content: space-between;
            margin-left: 0;
    
            li {
                list-style-type: none;
                margin-right: 2em;
            }
        }
    }


    @media (min-width: $breakpoint-desktop) {
        align-items: flex-start;
        justify-content: center;
        height: 70vh;


        .hero--presentation__text {
            margin-top: auto;
            justify-self: center;
        }

        h1 {
            width: 75%;
            font-size: 64px;
            text-align: left;
        }

        p {
            margin-top: 3rem;
            width: 75%;
            text-align: left;
        }
    }
}