.hero {
    width: 100%;
    height: 100vh;
    margin-bottom: 4rem;
    position: relative;


    @include devices(tablet) {
        height: 60vh;
        display: flex;
        margin-bottom: 6rem;
    }

    @include devices(desktop){
        height: 100vh;
        display: flex;
        margin-bottom: 6rem;
    }

    .hero-image {
        width: 100%;
        height: 30%;
        background-image: $hero-image;
        background-size: cover;
        background-repeat: no-repeat;


        @include devices(tablet) {
            background-image: $hero-image-tablet;
            background-size: contain;
            width: 100%;
            height: 100%;
            
        }

        @include devices(desktop) {
            background-image: $hero-image-desktop;
            background-size: cover;
            width: 100%;
            height: 100%;
            
        }
        
    }

    .black-box {
        
        @include devices(tablet) {
            display: none;
        }

        @include devices(mobile) {
            display: none;
        }

        @include devices(desktop) {
            display: inline-block;
            background-color: #000;
            width: 100%;
            height: 100%;
        }
    }
    
    
    .hero-title__group {
        width: 100%;
        margin-top: 2rem;
        padding-left: 1rem;
        
        .hero-text {
            @include devices(desktop) {
                position: absolute;
                display: flex;
                flex-direction: column;
                top: 18%;
                right: 13%;
                width: 24%;
        }
    }

        h1 {
            @include heading-xl;
            display: inline-block;
            line-height: 70px;
            font-size: 75px;
            text-transform: uppercase;

            span:first-child {
                display: block;
                width: 240px;
            }
            @include devices(tablet) {

                span:first-child {
                    display: block;
                    width: 400px;
                }

                span:last-child {
                    display: inline-block;
                    width: 450px;
                }
                @include heading-xl;
                
            }

            @include devices(desktop) {
                position: absolute;
                left: 12%;
                top: 28%;
                color: #fff;
                mix-blend-mode: difference;
            }
            
        }

        p {
            margin: 3rem 0;


            @include devices(tablet) {
                margin: 2rem 0;
                width: 100%;
            }

            @include devices(desktop) {
                margin-top: 20%;
            }
        }


        @include devices(tablet){
            width: 55%;
            position: absolute;
            top: 20%;
            right: 25px;
        }
    }
}
