:root {
    --primary-color:hsl(249, 99%, 64%);
    --secondary-color: hsl(278, 94%, 30%);
    --error-color: hsl(0, 100%, 66%);
    --main-white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Space Grotesk', sans-serif;
    height: 100%;
}



main {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
}


input:hover {
    border-color: var(--very-dark-violet);
}

input::placeholder {
    color: var(--dark-grayish-violet);
    font-size: 1.2em;
}

input:focus {
    outline: 1px solid var(--secondary-color);
}

small{
    display: inline;
    font-size: 10px;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 2e;
}

h1 {
    visibility: hidden;
}

.error {
    color: var(--error-color);
}


.card--front {
    position: relative;
    left: 4%;
    top: 16%;
    position: absolute;
    background-image: url('../images/bg-card-front.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
    width: 317px;
    height: 200px;

}

.card--back {
    position: relative;
    left: 16%;
    top: 3%;
    position: absolute;
    background-image: url('../images/bg-card-back.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 317px;
    height: 200px;


}

.card--back__body {
    width: 85%;
    height: 85%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    color: var(--main-white);
}

.card--body {
    padding: 2em;
    height: 90%;
}

.card-avatar__container {
    width: 100%;
    display: flex;
    align-items: center;

}

.avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: var(--main-white);
    z-index: 3;
    margin-right: .8em;
}

.sub-avatar {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid var(--main-white);
    z-index: 3;
}

.card-number__container {
    width: 100%;
    height: 55%;
    color: var(--main-white);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em 0 0 0;
}

#card--number__group__title {
    width: 100%;
    font-size: 12px;
    align-self: start;
    letter-spacing: .2em
}

#card--number__inputs {
    display: flex;
    width: 100%;
    margin: 1em 0 0 0;
    padding: .4em 1em;
    border: 1px solid var(--light-grayish-violet);
    border-radius: 5px;

}

card--number__error {
    display: inline;
}

#card--number__inputs> div > input {
    display: inline-block;
    width: 80%;
    padding: 0.3em .3em;
    margin-left: .1em;
    border: hidden
}
#card--number__inputs> div > label {
    display: none;
    height: 0;
    width: 0;
}


.card--cardhodlername__container {
    color: #fff;
    height: 30%;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.sidebar--gradient {
    background-image: url('../images/bg-main-desktop.png');
    background-position: center;
    background-size: cover;
    height: 20vh;
    width: 100%;
}

.form--container{
    display: none;
}

.form--container.active {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

form {
    margin-top: 15rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    width: 100%;
    font-size: 12px;
    align-self: start;
    letter-spacing: .2em
}

#cardholdername {
    margin: .5em 0 0 0;
    padding: .8em 1em;
    border-radius: 5px;
    border: 1px solid var(--light-grayish-violet);
    width: 100%;
}


.card--details {
    display: flex;
    align-items: center;
    width: 100%;
}

.card--details>div>div>input,
.card--details>div>input {
    padding: .8em;
    border-radius: 5px;
    border: 1px solid var(--light-grayish-violet);
}




.card--details__month,
.card--details__year {
    width: 45%;
    padding: .8em;
}

.card--details__year {
    margin-right: px;
}



.card--details__cvc {
    width: 100%;
    margin-right: 0;
}

.exp--month-year__inputs {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.exp--month-year__inputs input {
    margin-top: .5em;
    width: 70%;
}
.exp--month-year__inputs div:nth-child(even) {
    margin-left: -25px;
}

.exp-month-year__label {
    width: 100%;
}

.expiry__error,
.cvc__error {
    position: absolute;
    bottom: -20px;
    left: 0;
    color: red;
}

.cvc__field {
    display: flex;
    position: relative;
    width: 100%;
}
.cvc__field div{
    width: 100%;
}

.cvc__field input {
    margin-top: .5em;
    width: 100%;
}


.cvc__field input {
    width: 100%;
}


.confirm--btn {
    background-color: var(--very-dark-violet);
    margin-top: 2em;
    padding: .8em 2em;
    border: none;
    color: #fff;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

/* Form completion success */

.form--completion__success {
    display: none;
}
.form--completion__success.active {
    width: 100%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form--completion__icon--container {
    margin: 2em 0;
}

.form--completion__message {
    margin-top: 1em;
    color: var(--dark-grayish-violet);
}

.attribution {
    justify-self: flex-end;
    font-size: 14px;
}



/* Medium */

@media screen and (min-width: 620px) {

    
    .card--front {
        left: 30%;
        top: 10%;


    }

    .card--back {
        left: 40%;
        top: 1%;

    }

    .sidebar {
        height: 100%;
    }



    form {
        margin-top: 200px;
        width: 60%;

    }
}





/* Desktop */
@media screen and (min-width: 1440px) {

    main {
        flex-direction: row;
    }

    .card--front {
        position: relative;
        left: 10%;
        top: 20%;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        height: 245px;
        width: 447px;

    }

    .card--back {
        position: relative;
        left: 15%;
        bottom: 20%;
        top: auto;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        height: 245px;
        width: 447px;
    }

    .card--body {
        padding: 2em;
        height: 100%;
    }

    .card-avatar__container {
        width: 100%;
        display: flex;
        align-items: center;

    }

    .avatar {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-color: var(--main-white);
        z-index: 3;
        margin-right: .8em;
    }

    .sub-avatar {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        border: 1px solid var(--main-white);
        z-index: 3;
    }

    .card--back__body {
        width: 85%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        font-size: 16px;
    }

    .card-number__container {
        width: 100%;
        height: 55%;
        color: var(--main-white);
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #card--number__inputs {
        display: flex;
        margin: .5em 0 0 0;
        padding: .4em 1em;
        border: 1px solid var(--light-grayish-violet);
        border-radius: 5px;

    }

    #card--number__inputs:hover {
        border-color: var(--dark-grayish-violet);
    } 

    #card--number__inputs > input {
        display: inline-block;
        width: 25%;
        padding: .4em .3em;
        margin-left: .1em;
        border: hidden
    }

    #card--number__inputs > input:hover {
        border-color: var(--very-dark-violet);
    }




    .card--cardhodlername__container {
        color: #fff;
        height: 30%;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .sidebar--gradient {
        height: auto;
        width: 45%;
    }

    .form--container {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    form {
        margin: 0;
        width: 35%;
        flex-basis: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    form>input {
        margin: 1em 0;
        padding: .8em 1em;
        border-radius: 5px;
        border: 1px solid var(--light-grayish-violet);
        width: 100%;
    }


    .card--details {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .card--details>div>div>input,
    .card--details>div>input {
        padding: .8em 1em;
        border-radius: 5px;
        border: 1px solid var(--light-grayish-violet);
    }




    .card--details__month,
    .card--details__year {
        width: 45%;
        padding: .8em;
    }

    .card--details__year {
        margin-right: px;
    }

    .card--details__cvc {
        width: 200px;
        margin-right: 0;
    }

    .exp-month-year__label {
        display: block;
    }

    .expiry__error,
    .cvc__error {
        text-align: center;
        display: inline-block;
        width: 100%;
    }

    .confirm--btn {
        background-color: var(--very-dark-violet);
        margin-top: 2em;
        padding: .8em 2em;
        border: none;
        color: #fff;
        width: 100%;
        border-radius: 5px;
        font-size: 18px;
    }



    .form--completion__success.active {
        height: 100vh;
        margin: 0;
    }
}