.btn {
    font-weight: 700;
    color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.blue--btn {
    background-color: $soft_blue;

}

.gray--btn {
    background-color: $grayish_blue;
}

.red--btn {
    background-color: $soft_red;
}