.btn {
    font-weight: 700;
    color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.blue--btn {
    background-color: $soft_blue;


    &:hover {
        background-color: #fff;
        border: 1px solid $soft_blue;
        color: $soft_blue;
    }

}

.gray--btn {
    background-color: #f3f3f3;
    color: $grayish_blue;
    box-shadow: -2px 8px 8px 1px rgba(0,0,0,0.2);


    &:hover {
        background-color: #fff;
        border: 1px solid $grayish_blue;
        color: $grayish_blue;
    }
}

.red--btn {
    background-color: $soft_red;

    &:hover {
        background-color: #fff;
        border: 1px solid $soft_red;
        color: $soft_red;
    }
}