header {
  padding: 2rem;
  nav {
    ul{
      display: none;
    }
  }
}










@media screen and (min-width: 768px) {
  header {
    width: 100%;
    height: 80px;
    margin-bottom: 2rem;

    nav {
        margin: auto;
        height: 100%;
        max-width: 1440px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            height: 100%;
            padding: 0 2rem;
            list-style: none;
            margin-left: auto;
            display: flex;
            align-items: center;

            li {
                display: inline-block;
                margin: 0 2em;
                cursor: pointer;

                &:hover {
                  color: $soft_red;
                }
            }
        }
    }
  }
}
    
