@media screen and (min-width: 768px) {
    
    .intro--section {
        margin: auto;
        max-width: 1440px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        div {
            
            h1 {
                font-size: 52px;
                width: 100%;
            }

            p {
                margin: 2em 0;
                font-size: 18px;
                width: 80%;
                color: $grayish_blue;
            }
        }

        .illustration--container {
            
            img {
                margin-left: 2rem;
            }
        }

        .intro--bg__illustration:after {
            content:'';
            border-top-left-radius: 45% 100%;
            border-bottom-left-radius: 45% 100%;
            position: absolute;
            bottom: 0;
            z-index: -1;
            right: -500px;
            width: 70%;
            background-color: $soft_blue;
            height: 350px;
        }
    }
}