// colors
$grayish_blue: hsl(229, 8%, 60%);
$grayish_blue_light: hsl(229, 8%, 90%);
$very_dar_blue: hsl(229, 31%, 21%);
$soft_blue: hsl(231, 69%, 60%);
$dark_blue: hsl(231, 69%, 20%);
$soft_red: hsl(0, 94%, 66%);
