@media screen and (min-width: 768px) {
  header {
    width: 100%;
    height: 80px;
    margin-bottom: 2rem;
  }
  header nav {
    margin: auto;
    height: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header nav ul {
    height: 100%;
    padding: 0 2rem;
    list-style: none;
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  header nav ul li {
    display: inline-block;
    margin: 0 2em;
    cursor: pointer;
  }
  header nav ul li:hover {
    color: hsl(0deg, 94%, 66%);
  }
}
footer {
  max-width: 100%;
  height: 300px;
  background-color: hsl(231deg, 69%, 60%);
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding-top: 2rem;
}
footer div {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: #fff;
}
footer div p {
  margin: auto;
  letter-spacing: 0.5em;
}
footer div h3 {
  margin: 2rem auto;
  font-weight: 500;
  font-size: 22px;
}
footer div form {
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: center;
}
footer div form input {
  width: 50%;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 5px;
  margin-right: 1em;
}
footer nav {
  width: 100%;
  margin: 6rem 0;
  height: 20%;
  background-color: hsl(231deg, 69%, 20%);
  display: flex;
  color: white;
}
footer nav div {
  width: 30%;
}
footer nav div svg {
  display: inline-block;
}
footer nav div svg path {
  fill: white;
}
footer nav ul {
  display: flex;
  align-items: center;
}
footer nav ul li {
  list-style-type: none;
  margin: 2rem 1em;
}
footer nav .social--links {
  margin-left: auto;
  margin-right: 15%;
}
footer nav .social--links a {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .intro--section {
    margin: auto;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .intro--section div h1 {
    font-size: 52px;
    width: 100%;
  }
  .intro--section div p {
    margin: 2em 0;
    font-size: 18px;
    width: 80%;
    color: hsl(229deg, 8%, 60%);
  }
  .intro--section .illustration--container img {
    margin-left: 2rem;
  }
  .intro--section .intro--bg__illustration:after {
    content: "";
    border-top-left-radius: 45% 100%;
    border-bottom-left-radius: 45% 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    right: -500px;
    width: 70%;
    background-color: hsl(231deg, 69%, 60%);
    height: 350px;
  }
}
@media screen and (min-width: 768px) {
  .features--section {
    margin: 2rem auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .features--section .features--section__text {
    width: 100%;
    margin: 2rem auto 2rem auto;
  }
  .features--section .features--section__text h2 {
    font-size: 45px;
    text-align: center;
    margin: 2rem auto;
  }
  .features--section .features--section__text p {
    width: 35%;
    font-size: 18px;
    margin: auto;
    text-align: center;
    color: hsl(229deg, 8%, 60%);
  }
  .features--section .tabs--selector__list {
    width: 50%;
    display: flex;
    justify-content: space-around;
    position: relative;
  }
  .features--section .tabs--selector__list div {
    position: relative;
    text-align: center;
  }
  .features--section .tabs--selector__list div h3 {
    margin: 2rem 1.5rem;
    font-weight: 400;
  }
  .features--section .tabs--selector__list div h3:hover {
    color: hsl(0deg, 94%, 66%);
    cursor: pointer;
  }
  .features--section .tabs--selector__list::after {
    content: "";
    width: 96%;
    background-color: hsl(229deg, 8%, 90%);
    height: 2px;
    position: absolute;
    bottom: 0;
  }
  .features--section .tabs--selector__list .tabs--selector__simple.active::after,
.features--section .tabs--selector__list .tabs--selector__searching.active::after,
.features--section .tabs--selector__list .tabs--selector__sharing.active::after {
    content: "";
    width: 100%;
    background-color: hsl(0deg, 94%, 66%);
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
  }
  .features--section .bookmark--tab,
.features--section .intelligent--search__tab,
.features--section .share--bookmarks__tab {
    display: none;
  }
  .features--section .bookmark--tab.active,
.features--section .intelligent--search__tab.active,
.features--section .share--bookmarks__tab.active {
    display: flex;
    justify-content: space-between;
    margin: 6rem auto;
  }
  .features--section .bookmark--tab.active img,
.features--section .intelligent--search__tab.active img,
.features--section .share--bookmarks__tab.active img {
    flex-basis: 42%;
    margin-left: 6rem;
  }
  .features--section .bookmark--tab.active .tab__cta,
.features--section .intelligent--search__tab.active .tab__cta,
.features--section .share--bookmarks__tab.active .tab__cta {
    margin: auto;
    height: 100%;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .features--section .bookmark--tab.active .tab__cta > *,
.features--section .intelligent--search__tab.active .tab__cta > *,
.features--section .share--bookmarks__tab.active .tab__cta > * {
    margin: 1em 0;
  }
  .features--section .bookmark--tab.active .tab__cta p,
.features--section .intelligent--search__tab.active .tab__cta p,
.features--section .share--bookmarks__tab.active .tab__cta p {
    color: hsl(229deg, 8%, 60%);
    width: 130%;
  }
  .features--section .tab--illustration__bg::after {
    content: "";
    border-top-right-radius: 30% 100%;
    border-bottom-right-radius: 30% 100%;
    position: absolute;
    bottom: 60px;
    left: -500px;
    z-index: -1;
    width: 75%;
    background-color: hsl(231deg, 69%, 60%);
    height: 330px;
  }
}
.download--section {
  margin: 2rem auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.download--section .download--section__text {
  width: 100%;
  margin: 2rem auto 2rem auto;
}
.download--section .download--section__text h1 {
  font-size: 45px;
  text-align: center;
  margin: 2rem auto;
}
.download--section .download--section__text p {
  width: 50%;
  font-size: 18px;
  margin: auto;
  text-align: center;
  color: hsl(229deg, 8%, 60%);
}
.download--section .download--section__cards {
  width: 100%;
  height: 45vh;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.download--section .download--section__cards > div {
  height: 300px;
  width: 250px;
  padding: 1rem 0;
  margin: 0 1em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.download--section .download--section__cards div p {
  color: hsl(229deg, 8%, 60%);
}
.download--section .download--section__cards .download--section__chrome {
  align-self: flex-start;
}
.download--section .download--section__cards .download--section__chrome div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.download--section .download--section__cards .download--section__chrome div div {
  width: 100%;
  margin: 2rem 0 1.5rem 0;
  padding: 0;
  border-bottom: 6px dotted hsl(229deg, 8%, 90%);
}
.download--section .download--section__cards .download--section__firefox {
  align-self: center;
}
.download--section .download--section__cards .download--section__firefox div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.download--section .download--section__cards .download--section__firefox div div {
  width: 100%;
  margin: 2rem 0 1.5rem 0;
  padding: 0;
  border-bottom: 6px dotted hsl(229deg, 8%, 90%);
}
.download--section .download--section__cards .download--section__opera {
  align-self: flex-end;
}
.download--section .download--section__cards .download--section__opera div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.download--section .download--section__cards .download--section__opera div div {
  width: 100%;
  margin: 2rem 0 1.5rem 0;
  padding: 0;
  border-bottom: 6px dotted hsl(229deg, 8%, 90%);
}

.faq--section {
  margin: 2rem auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.faq--section .faq--section__text {
  width: 100%;
  margin: 2rem auto 2rem auto;
}
.faq--section .faq--section__text h1 {
  font-size: 45px;
  text-align: center;
  margin: 2rem auto;
}
.faq--section .faq--section__text p {
  width: 50%;
  font-size: 18px;
  margin: auto;
  text-align: center;
  color: hsl(229deg, 8%, 60%);
}
.faq--section .faq--section__dropdownlist__container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.faq--section .faq--section__dropdownlist__container ul {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.faq--section .faq--section__dropdownlist__container ul li {
  width: 100%;
  list-style-type: none;
  padding: 2rem 0;
  border-top: 1px solid hsl(229deg, 8%, 90%);
  border-bottom: 1px solid hsl(229deg, 8%, 90%);
}
.faq--section .faq--section__dropdownlist__container ul li div .faq--section__dropdownlistitem--header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.faq--section .faq--section__dropdownlist__container ul li div .faq--section__dropdownlistitem--header h3 {
  font-weight: 400;
}
.faq--section .faq--section__dropdownlist__container ul li div .faq--section__dropdownlistitem--header h3:hover {
  color: hsl(0deg, 94%, 66%);
  cursor: pointer;
}
.faq--section .faq--section__dropdownlist__container ul li div .faq--section__dropdownlistitem--header button {
  cursor: pointer;
  border: none;
  background-color: #fff;
}
.faq--section .faq--section__dropdownlist__container ul li div p {
  display: none;
}
.faq--section .faq--section__dropdownlist__container ul li .faq--section__first.active p,
.faq--section .faq--section__dropdownlist__container ul li .faq--section__second.active p,
.faq--section .faq--section__dropdownlist__container ul li .faq--section__third.active p,
.faq--section .faq--section__dropdownlist__container ul li .faq--section__fourth.active p {
  display: block;
  margin-top: 2rem;
}

.btn {
  font-weight: 700;
  color: white;
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.blue--btn {
  background-color: hsl(231deg, 69%, 60%);
}
.blue--btn:hover {
  background-color: #fff;
  border: 1px solid hsl(231deg, 69%, 60%);
  color: hsl(231deg, 69%, 60%);
}

.gray--btn {
  background-color: hsl(229deg, 8%, 60%);
}
.gray--btn:hover {
  background-color: #fff;
  border: 1px solid hsl(229deg, 8%, 60%);
  color: hsl(229deg, 8%, 60%);
}

.red--btn {
  background-color: hsl(0deg, 94%, 66%);
}
.red--btn:hover {
  background-color: #fff;
  border: 1px solid hsl(0deg, 94%, 66%);
  color: hsl(0deg, 94%, 66%);
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}/*# sourceMappingURL=main.css.map */