@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Spartan';
    src: local('Spartan'), url('./fonts/Spartan/Spartan-Regular.ttf') format('truetype');
}

.tab,
.planet--features {
    border: 1px solid rgba(255, 255, 255, .2)
}

.mobile-tab {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.text--grey  {
    color: rgba(255, 255, 255, .5);
    text-transform: uppercase;
    letter-spacing: 0.727273px;
}

